.pagination {
    display: flex;
    gap: 11px;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
}

.btnWrapper {
    display: flex;
    gap: 6px;
}

.arrowBtn {
    background: transparent;
    border-radius: 100%;
    border: 1px solid rgba(38, 38, 38, 0.2);
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;

}

.arrowBtn:disabled {
    border: 1px solid rgba(38, 38, 38, 0.05);
}

.iconArrow {
    fill: #262626;
    transform: scaleX(-1);
}

.disabledIcon {
    fill: rgba(38, 38, 38, 0.5);
}

.pagesWrapper {
    display: flex;
    gap: 10px;
}

.dots {
    border-radius: 100%;
    background: transparent;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #262626;
    border: 1px solid rgba(38, 38, 38, 0.05);
    width: 40px;
    height: 40px;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.pageBtn {
    border-radius: 100%;
    background: transparent;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    color: #262626;
    border: 1px solid rgba(38, 38, 38, 0.05);
    width: 40px;
    height: 40px;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.active {
    border-radius: 100%;
    background: #f6b83d;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    color: #fff;
}

.iconArrowRight {
    fill: #262626;
}

.disabledIcon {
    fill: rgba(38, 38, 38, 0.5);
}

@media (min-width: 768px) {
    .pagination {
        gap: 24px;
        margin-top: 60px;
    }

    .btnWrapper {
        gap: 8px;
    }

    .arrowBtn {
    height: 44px;
    width: 44px;
    }

    .dots {
        font-size: 20px;
        line-height: 1.1;
        width: 44px;
        height: 44px;
    }

    .pageBtn {
        font-size: 18px;
        line-height: 1.22222;
        width: 44px;
        height: 44px;
    }

    .active {
        font-size: 18px;
        line-height: 1.22222;
    }
}
