.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #fff;
    padding: 40px 20px;
    border-radius: 30px;
    position: relative;
    width: 280px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
}

.imageWrapper {
    border-radius: 100%;
    background: #fff4df;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 18px;
    margin-bottom: 20px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 24px;
}

.heading {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: #f6b83d;
}

.warningText {
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
    color: #2b2b2a;
}

@media (min-width: 375px) {
    .modal {
        width: 335px;
    }
}

@media (min-width: 768px) {
    .modal {
        padding: 60px;
        width: 466px;
    }

    .textWrapper {
        margin-bottom: 28px;
    }

    .heading {
        font-size: 24px;
        line-height: 1.67777;
    }

}