.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-image: image-set(
        url('/images/loader-mobile.jpg') 1x,
        url('/images/loader-mobile@2x.jpg') 2x
    );
}

.content {
    text-align: center;
    color: white;
}

.logo {
    display: flex;
    align-items: end;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -0.04em;
    color: #fff;
}

.heartIcon  {
    fill: #f6b83d;
    width: 44px;
    height: 44px;
}

.spinner {
    margin: 40px auto 0;
    width: 80px;
    height: 80px;
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-top-color: #f6b83d;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 768px) {
    .overlay {
        background-image: image-set(
            url('/images/loader-tablet.jpg') 1x,
            url('/images/loader-tablet@2x.jpg') 2x);
    }

    .logo {
        font-size: 100px;
    }

    .heartIcon  {
        width: 82px;
        height: 82px;
    }

    .progressCircle {
        width: 427px;
        height: 427px;
        font-size: 80px;
    }
}

@media (min-width: 1280px) {
    .overlay {
        background-image: image-set(
            url('/images/loader-desktop.jpg') 1x,
            url('/images/loader-desktop@2x.jpg') 2x);
    }
}