.noNews {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    color: #262626;
    margin-top: 24px;
    text-align: center;
}

.newsList {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    margin-top: 24px;
    max-width: 335px;
}


@media (min-width: 768px) {
    .noNews {
        font-size: 16px;
        line-height: 1.25;
        margin-top: 32px;
    }

    .newsList {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 44px;
        gap: 32px 24px;
        max-width: 704px;
    }
}

@media (min-width: 1280px) {
    .newsList {
        gap: 40px 35px;
        margin-top: 60px;
        max-width: 1153px;
    }
}