.petBlockWrapper {
    overflow: hidden;
    width: 100%;
    display: block;
    
}

.petBlockImage {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 30px;
}

 @media (min-width: 375px) {
    .petBlockImage {
        width: 376px;
        height: 315px;
    }
} 

@media (min-width: 768px) {
    .petBlockWrapper {
        border-radius: 60px;
    }

    .petBlockImage {
        width: 704px;
        height: 302px;
        border-radius: 60px;
    }
}

@media (min-width: 1280px) {
    .petBlockImage {
        width: 592px;
        height: 654px;
    }
}