.form {
    display: flex;
    flex-direction: column;
    padding: 28px 8px 20px;
    width: 100%;
    background: #fff;
    border-radius: 30px;
}

.title {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: #262626;
    display: flex;
    gap: 8px;
    align-items: end;
    margin-bottom: 24px;
}

.decor {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    color: rgba(43, 43, 42, 0.4);
}

.sexButtons {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 8px;
}

.femaleButton {
    width: 32px;
    height: 32px;
    background: rgba(244, 63, 94, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.femaleIcon {
    stroke: #f43f5e;
    fill: none;
    width: 20px;
    height: 20px;
}

.selectedFemale {
    background: #f43f5e;
}

.selectedFemaleIcon {
    stroke: #fff;
}

.maleButton {
    width: 32px;
    height: 32px;
    background: rgba(84, 173, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.maleIcon {
    stroke: #54adff;
    fill: none;
    width: 20px;
    height: 20px;
}

.selectedMale {
    background: #54adff;
}

.selectedMaleIcon {
    stroke: #fff;
}

.otherButton {
    width: 32px;
    height: 32px;
    background: #fff4df;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.otherIcon {
    fill: #f6b83d;
    width: 20px;
    height: 20px;
}

.selectedOther {
    background: #f6b83d;
}

.selectedOtherIcon {
    fill: #fff;
}


.imagePreview {
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff4df;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.footprint {
    fill: #f6b83d;
    width: 34px;
    height: 34px;
}

.previewImage {
    border-radius: 100px;
    width: 68px;
    height: 68px;
    object-fit: cover;
}

.inputGroup {
    width: 100%;
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}

.input {
    flex: 6 1 0;
    min-width: 0;
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(38, 38, 38, 0.8);
    padding: 9px 20px 10px 9px;
    outline: none;
    background: transparent;
}

.input::placeholder {
    color: rgba(38, 38, 38, 0.5);
    width: 140px;
}

.uploadButton {
    flex: 4;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: -0.02em;
    color: #262626;
    border-radius: 30px;
    background: #fff4df;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.iconUpload {
    stroke: #f6b83d;
    fill: none;
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.titleNotice {
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    padding: 12px;
    width: 100%;
    color: rgba(38, 38, 38, 0.8);
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    margin-bottom: 10px;
    background: transparent;
    outline: none;
}

.titleNotice::placeholder {
    color: rgba(38, 38, 38, 0.5);
}

.pickWrapper {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 31px;
}

.speciesWrapper {
    width: 100%;
}

.buttonGroup {
    display: flex;
    gap: 8px;
    justify-content: end;
}

.backBtn {
    border-radius: 30px;
    padding: 12px;
    width: 100px;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    color: #262626;
    background: rgba(38, 38, 38, 0.05);
}

.submitBtn {
    border-radius: 30px;
    padding: 12px;
    width: 100px;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    color: #fff;
    background: #f6b83d;
}

.error {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #ef2447;
    margin-left: 12px;
}

.filled {
    border: 1px solid #f6b83d;
}

@media (min-width: 375px) {
    .form {
        padding: 28px 20px 20px;
        max-width: 376px;
    }
}

@media (min-width: 768px) {
    .form {
        padding: 40px 136px 40px;
        border-radius: 60px;
        max-width: 704px;
    }

    .title {
        font-size: 32px;
        letter-spacing: -0.03em;
        margin-bottom: 40px;
    }

    .decor {
        font-size: 16px;
        line-height: 1.25;
    }

    .sexButtons {
        width: 136px;
        gap: 8px;
        margin-bottom: 0px;
    }

    .femaleButton {
        width: 40px;
        height: 40px;
    }

    .femaleIcon {
        width: 24px;
        height: 24px;
    }

    .maleButton {
        width: 40px;
        height: 40px;
    }

    .maleIcon {
        width: 24px;
        height: 24px;
    }

    .otherButton {
        width: 40px;
        height: 40px;
    }
    
    .otherIcon {
        width: 24px;
        height: 24px;
    }

    .imagePreview {
        width: 86px;
        height: 86px;
        margin-bottom: 12px;
        margin-top: -22px;
    }

    .footprint {
        width: 44px;
        height: 44px;
    }

    .previewImage {
        width: 86px;
        height: 86px;
    }

    .inputGroup {
        margin-bottom: 18px;
    }

    .input {
        padding: 12px 20px 12px 12px;
    }

    .uploadButton {
        padding: 12px 16px;
    }

    .iconUpload {
        width: 18px;
        height: 18px;
    }

    .titleNotice {
        padding: 16px;
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 18px;
    }

    .pickWrapper {
        gap: 12px;
        margin-bottom: 40px;
    }

    .backBtn {
        padding: 14px;
        width: 170px;
        font-size: 16px;
        line-height: 1.25;
    }

    .submitBtn {
        padding: 14px;
        width: 170px;
        font-size: 16px;
        line-height: 1.25;
    }

    .error {
        font-size: 12px;
        margin-left: 16px;
    }
}

@media (min-width: 1280px) {
    .form {
        max-width: 592px;
        max-height: 654px;
        padding: 60px 80px;
    }

    .imagePreview {
        margin-top: -16px;
    }
}