.myNotices {
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab {
    border-radius: 30px;
    padding: 12px;
    width: 123px;
    text-align: center;
    background: #fff;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    color: #262626;
}

.active {
    border-radius: 30px;
    padding: 12px;
    width: 123px;
    text-align: center;
    font-family: "Manrope", sans-serif;
    background: #f6b83d;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    color: #fff;
}

.active:hover {
    background: #f9b020;
}

.empty {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 335px;
}

.favorites {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
    color: #262626;
}

.highlight {
    font-weight: 700;
    color: #f6b83d;
}

.viewed {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
    color: #262626;
}

@media (min-width: 768px) {
    .tabs {
        gap: 8px;
    }

    .tab {
        padding: 14px;
        width: 142px;
        font-size: 16px;
        line-height: 1.25;
    }

    .active {
        padding: 14px;
        width: 142px;
        font-size: 16px;
        line-height: 1.25;
    }

    .empty {
        margin-top: 160px;
        max-width: 458px;
    }

    .favorites {
        font-size: 16px;
        line-height: 1.25;
    }

    .viewed {
        font-size: 16px;
        line-height: 1.25;
    }
}

@media (min-width: 1280px) {
    .myNotices {
        width: 664px;
    }

    .tabs {
        margin-top: 40px;
    }
}