.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.04em;
    color: #262626;
}

.subtitle {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: #262626;
}

@media (min-width: 768px) {
    .container {
        gap: 16px;
    }

    .title {
        font-size: 54px;
    }

    .subtitle {
    font-size: 18px;
    line-height: 1.22222;
    }
}
