.defaultBtn {
    border-radius: 30px;
    text-align: center;
    width: 100%;
    padding: 12px;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #f6b83d;
    background: #fff4df;
}

.defaultBtn:hover {
    background: #fbe7c1;
}

.modalBtn {
    background: #fff4df;
    border-radius: 30px;
    padding: 12px;
    width: 115px;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    color: #f6b83d
}

.modalBtn:hover {
    background: #fbe7c1;
}

@media (min-width: 375px) {
    .modalBtn {
        width: 135px;
    }
}

@media (min-width: 768px) {
    .defaultBtn {
        padding: 15px 20px;
        font-size: 16px;
        height: 50px;
    }

    .modalBtn {
        padding: 15px 20px;
        font-size: 16px;
    }
}