.logo {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.04em;
    color: #262626;
    display: flex;
}

.logoHome {
    color: #fff;
}

.iconWrapper {
    display: flex;
    align-items: end;
}

.heartIcon {
    fill: #f6b83d;
    width: 17px;
    height: 17px;
}

.heartIcon:hover {
    fill: #f9b020;
}

.heartIconHome {
    fill: #fff;
    width: 17px;
    height: 17px;
}

@media (min-width: 768px) {
    .logo {
        font-size: 28px;
    }

    .heartIcon {
        width: 23px;
        height: 23px;
    }

    .heartIconHome {
        width: 23px;
        height: 23px;
    }    
}
