.logo {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.04em;
    color: #262626;
    display: flex;
}

.iconWrapper {
    display: flex;
    align-items: end;
}

.heartIcon {
    fill: #f6b83d;
}