.container {
    padding: 28px 20px 80px;
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    min-height: 100vh;
}

.newsWrapper {
    margin: 0 auto;
    margin-top: 54px;
    min-width: 280px;
}

.searchWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

@media (min-width: 768px) {
    .container {
        padding: 32px 32px 80px;
    }

    .newsWrapper {
        margin-top: 85px;
        min-width: 704px;
    }

    .searchWrapper {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
        align-items: end;
    }   
}

@media (min-width: 1280px) {
    .container {
        padding: 32px 64px 80px;
    }

    .newsWrapper {
        margin-top: 96px;
        min-width: 1153px;
    }
}