.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
    max-width: 335px;
}


@media (min-width: 768px) {
    .list {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 44px;
        max-width: 704px;
    }
}

@media (min-width: 1280px) {
    .list {
        row-gap: 28px;
        margin-top: 60px;
        max-width: 1153px;
    }
}