.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}


@media (min-width: 768px) {
    .list {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 44px;
    }
}

@media (min-width: 768px) {
    .list {
        row-gap: 28px;
        margin-top: 60px;
    }
}