.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navDesktop {
    display: none;
}

.wrapper {
    display: flex;
    gap: 12px;
}

.userNavDesktop {
    display: none;
}

.userBarMobile {
    display: flex;
}

.authNavWrapper {
    display: flex;
    flex-direction: row;
}

.burger {
    background: transparent;
    outline: none;
    display: flex;
    align-items: center;
}

.iconBurger {
    stroke: #262626;
    width: 32px;
    height: 32px;
}

.iconBurgerHome {
    stroke: #fff;
}

@media (min-width: 768px) {
    .wrapper {
        gap: 16px;
    }

    .userNavDesktop {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .userBarMobile {
        display: none;
    }

    .iconBurger {
        width: 36px;
        height: 36px;
    }
}

@media (min-width: 1280px) {
    .navDesktop {
        display: flex;
    }

    .burger {
        display: none;
    }
}