.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    display: flex;
    gap: 12px;
}

.userNavDesktop {
    display: none;
}

.userBarMobile {
    display: flex;
}

.burger {
    background: transparent;
    outline: none;
    display: flex;
    align-items: center;
}

.iconBurger {
    stroke: #262626;
}

.iconBurgerHome {
    stroke: #fff;
}

@media (min-width: 768px) {
    .userNavDesktop {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .userBarMobile {
        display: none;
    }
}