body {
  margin: 0;

  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
}

body.ReactModal__Body--open {
  overflow: hidden;
}


input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #262626 !important;
  transition: background-color 5000s ease-in-out 0s;
}