:root {
    --color-background: #f9f9f9;
    --color-primary: #fff;
    --color-surface: #fff4df;
    --color-orange: #f6b83d;
    --color-main-text: #262626;
    --color-grey: rgba(38, 38, 38, 0.5);
    --color-error: #ef2447; 
    --color-success: #08aa83;
    --color-female: rgba(244, 63, 94, 0.1);
    --color-female-focused: #f43f5e;
    --color-male: rgba(84, 173, 255, 0.1);
    --color-male-focused: #54adff;
    --color-details: rgba(43, 43, 42, 0.4);
    --color-dropdown: rgba(38, 38, 38, 0.6);
    --color-dropdown-scroll: rgba(38, 38, 38, 0.08);
    --color-back: rgba(38, 38, 38, 0.05);
    --color-star: #ffc531;
    --color-border: rgba(38, 38, 38, 0.15);
    --color-arrow-border: rgba(38, 38, 38, 0.2);
}