.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    margin-top: 40px;
    max-width: 335px;
}

@media (min-width: 768px) {
    .list {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 32px;
        max-width: 704px;
    }
}

@media (min-width: 1280px) {
    .list {
        gap: 40px 32px;
        margin-top: 40px;
        padding: 0 32px;
        max-width: 1217px;
    }
}