.logoutBtn {
    border-radius: 30px;
    padding: 12px;
    width: 100%;
    background: #fff4df;
    color: #f6b83d;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

.logoutBtn:hover {
    background: #fbe7c1;
}