.logoutBtn {
    border-radius: 30px;
    padding: 12px 60px;
    background: var(--color-surface);
    color: var(--color-orange);
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}