.logoutBtn {
    border-radius: 30px;
    padding: 12px;
    width: 100%;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

.orange {
    background: #f6b83d;
    color: #fff;
}

.orange:hover {
    background: #f9b020;
}

.beige {
    background: #fff4df;
    color: #f6b83d;
}

.beige:hover {
    background: #fbe7c1;
}

@media (min-width: 768px) {
    .logoutBtn {
        padding: 15px;
        font-size: 16px;
        line-height: 1.25;
    }
}