.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #2b2b2a;
}

.btn {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    color: #fff;
    display: flex;
    gap: 4px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    background: #f6b83d;
    border-radius: 30px;
}

.icon {
    stroke: #fff;
}