.inputWrapper {
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    padding: 12px;
    display: flex;
    gap: 4px;
}

.focused {
    border: 1px solid #f6b83d;
}

.input {
    border: none;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    color: #262626;
    padding: 0;
    width: 100%;
    background: transparent;
    outline: none;
}

.btnWrapper {
    display: flex;
    gap: 4px;
}

.clearBtn {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBtn {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconSearch {
    fill: none;
    stroke: #262626;
    display: block;
}

@media (min-width: 768px) {
    .inputWrapper {
        width: 230px;
        padding: 14px;
    }

    .input {
        font-size: 16px;
        line-height: 1.25;
    }
}

@media (min-width: 1280px) {
    .inputWrapper {
        width: 230px;
    }
}